<%- include("../partials/nav") %>
    <main>
        <h1>New Listing</h1>
        <form action="/listings/<%= list.id %>?_method=PUT" method="POST" >
            Price:
            <input type="number" name="price" min="0" value="<%= list.price %>">

            Street Address:
            <input type="text" name="streetAddress" value="<%= list.streetAddress %>">

            City:
            <input type="text" name="city" value="<%= list.city %>">

            Size:
            <input type="number" name="size" min="0" value="<%= list.size %>">

            Image:
            <input type="text" name="image" value="<%= list.image %>">

            <button type="submit">Edit Listing</button>
        </form>
    </main>
</body>
</html>