<%- include("../partials/nav") %>

<h1>Details Page</h1>

<h2><%= list.price %></h2>
<h2><%= list.streetAddress %></h2>
<h2><%= list.city %></h2>
<h2><%= list.size %></h2>
<img src="<%= list.image %>" alt="image" width="200">

</body>

</html>