<%- include("../partials/nav") %>

    <main>
        <h1>Details Page</h1>

        <h2>Price: <%= list.price %></h2>
        <h2>Address: <%= list.streetAddress %></h2>
        <h2>City: <%= list.city %></h2>
        <h2>Size: <%= list.size %></h2>
        <img src="<%= list.image %>" alt="image" width="200">
        <br>
        <% if(list.owner._id.equals(user.id)) { %>
        <p>You Own this</p>
        <form action="/listings/<%= list.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete this Listing</button>
        </form>
        <div class="container">
            <a class="a-btn" href="/listings/<%= list.id %>/edit">Edit Listing</a>
        </div>
        <p>A listing in <%= list.city %> owned by: <%= list.owner.username %></p>
        <% } else { %>
        <p>You don't own this <%= list.owner.username %> does</p>
        <% } %>

        <section>
            <h2>Favorites</h2>
            <% if(list.favoritedByUsers.length === 0 ) { %>
                <p>No one favorited this yet.</p>
            <% } else if (list.favoritedByUsers.length === 1 ) { %>
                <p>Favorited by <%= list.favoritedByUsers.length %> person</p>
            <%  } else { %>
                <p>Favorited by <%= list.favoritedByUsers.length %> people</p>
            <%  } %>
            <% if(userHasFavorited) { %>
                <form action="/listings/<%= list.id %>/favorited-by/<%= user.id %>?_method=DELETE" method="POST">
                    <button type="submit">❌</button>
                </form>
                <% } else { %>
                    <form action="/listings/<%= list.id %>/favorited-by/<%= user.id %>" method="POST">
                    <button type="submit">💖</button>
                </form>
               <%  } %>
        </section>

        <section>
            <h2>Questions about this property?</h2>
            <form action="/listings/<%= list.id %>/questions" method="POST">
                <textarea name="text" id="" rows="4" required></textarea>
                <button type="submit">Ask Question</button>
            </form>

            <h3>Question from users</h3>
            <% list.questions.forEach(question => { %>
                <p><%= question.author.username %>: <%= question.text %></p>
            <% }) %>
        </section>
    </main>
</body>

</html>